#chatMain
  .groupInfo
    .groupInfo__nameArea
      %p.groupInfo__nameArea--group
        グループ名
      %p.groupInfo__nameArea--user
        ユーザー名
    .groupInfo__btnArea
      =link_to "#", class:"groupInfo__btnArea--edit" do
        Edit

  .messageList
    .messageList__box
      .messageList__box--inner
        %p.messageList__box--user
          ユーザー名
        %p.messageList__box--time
          2019/11/11/11:11
      %p.messageList__box--message
        投稿内容

    .messageList__box
      .messageList__box--inner
        %p.messageList__box--user
          ユーザー名
        %p.messageList__box--time
          2019/11/11/11:11
      %p.messageList__box--message
        投稿内容

  .messageForm
    = form_for [@group, @message], :html => {class: "messageForm__typeArea"} do |f|
      .messageForm__typeArea--inner
        = f.text_field :comment, class: "messageForm__typeArea--text", placeholder: "type a message"
        %label{class: "messageForm__typeArea--label"}
          = icon('fas', 'image', class: "messageForm__typeArea--imageIco")
          = f.file_field :image, class: "messageForm__typeArea--image"
      = f.submit class: "messageForm__typeArea--send", value: "send"