#chatMain
  .groupInfo
    .groupInfo__nameArea
      %p.groupInfo__nameArea--group
        = @group.name
      %p.groupInfo__nameArea--user
        - @group.users.each do |user|
          = user.name
    .groupInfo__btnArea
      =link_to edit_group_path(@group.id), class: "groupInfo__btnArea--edit" do
        Edit

  .messageList
    = render @messages


  .messageForm
    = form_for [@group, @message], :html => {class: "messageForm__typeArea"} do |f|
      .messageForm__typeArea--inner
        = f.text_field :comment, class: "messageForm__typeArea--text", placeholder: "type a message"
        %label{class: "messageForm__typeArea--label"}
          = icon('fas', 'image', class: "messageForm__typeArea--imageIco")
          = f.file_field :image, class: "messageForm__typeArea--image"
      = f.submit class: "messageForm__typeArea--send", value: "send"